<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stellar systems</title>
    <link rel="stylesheet" href="/css/stars.css">
</head>

<body>
    <script src="/js/stars.js" defer></script>
    <canvas id="starfield" width="3000" height="2000"></canvas>
    <div class="title">
        <p>Stellar systems</p>
    </div>
    <div class="list">
        <ul>
            <% stars.forEach(function(element) { %>
            <li>
                <a href="/system/<%= element.id %>"><%= element.name %></a>
            </li>
            <% }); %>
        </ul>
    </div>
    <div class="new-system">
        <a id="new-system" href="/systems/new">New system</a>
    </div>
</body>

</html>