<%- include ('header.ejs') -%>
    <title>Planet</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/background.css" rel="stylesheet">
</head>

<body>
    <table>
        <tbody>
            <tr>
                <td>
                    <img src="/images/planet.png" class="bigstar">
                </td>
                <td>
                    <table class="table table-light table-hover">
                        <tbody>
                        <tr>
                            <td>
                                Avg orbital speed
                            </td>
                            <td>
                                32 km/s
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mass
                            </td>
                            <td>
                                53.97237×10^24 kg
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mean radius
                            </td>
                            <td>
                                8526.0 km
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-dark" onclick="window.location.href='/systems/edit/systemid/planetid'">
                                    Edit
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-danger" onclick="onDeletePlanet()">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        function onDeletePlanet() {
            deletePlanet();
        }
    </script>
</body>

</html>