<%- include ('header.ejs') -%>
    <title>Star</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/background.css" rel="stylesheet">
</head>

<body>
    <table>
        <tbody>
            <tr>
                <td>
                    <img src="/images/sun.png" class="bigstar">
                </td>
                <td>
                    <table class="table table-light table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    Equatorial radius
                                </td>
                                <td>
                                    695,700 km
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mass
                                </td>
                                <td>
                                    1.9885×10^30 kg
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Absolute magnitude (M)
                                </td>
                                <td>
                                    +4.83
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-dark"
                                        onclick="window.location.href='/systems/edit/systemid/starid'">
                                        Edit
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="onDeleteStar()">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        function onDeleteStar() {
            deleteStar();
        }
    </script>

</body>

</html>