<%- include ('header.ejs') -%>    
    <title>Star-edit</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/background.css" rel="stylesheet">
</head>

<body>
    <table>
        <tbody>
            <tr>
                <td>
                    <img src="/images/sun.png" class="bigstar">
                </td>
                <td>
                    <table class="table table-light table-hover">
                        <tbody>
                        <tr>
                            <td>
                                Equatorial radius
                            </td>
                            <td>
                                <form>
                                    <input class="form-control">
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mass
                            </td>
                            <td>
                                <form>
                                    <input class="form-control">
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Absolute magnitude (M)
                            </td>
                            <td>
                                <form>
                                    <input class="form-control">
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>